<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
    block styles
    style
        include ../static/base.css
    nav#navbar
        div.navContainer
            ul
                li.bold #[a(href="").orange GymBee] 
                li #[a(href="") Call Us] 
                li #[a(href="") About] 
                li #[a(href="")  Services] 

    block content 

    footer
        
            h1.segoe Copyright &copy; | All rights Reserved
            
