extends base.pug
block styles
    style 
        include ../static/index.css
block content
    div.bodyContainer

    div#home
            h1.segoe Your Best Instructor
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat nisi quia laudantium placeat inventore assumenda nam mollitia! Officiis sunt molestias molestiae magnam ratione.
            button.btn.segoe Login Now
    hr
    
    
     