
extends base.pug
block styles
    style
        include ../static/d.css
        include ../static/index.css

block content 
    div.bodyContainer
      a(href="/",class="gotohome btn") Go to home
    