*{
    margin: 0;
    padding: 0;

}

p{
    padding: 10px 34px ;
}
/* Navigation Stuff */

#navContainer{
    display: flex;
    
    width: 100%;
   
    position: relative;
}
.navbar{
    max-width: 980px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.navbar::before{
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -3;
    background: rgb(31, 31, 31);
}
.navbar ul{
    display: flex;
    padding: 10px;
}
.navbar ul li {
    list-style: none;
}

.navbar a{
    text-decoration: none;
    margin: 9px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.navbar a:hover{
    color: rgb(0, 235, 0);
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));

}

footer{
    display: flex;
    margin: auto;
    bottom: 0;
    width: 100%;
    
    background-color: rgb(31, 31, 31);
    flex-direction: column;
}

footer h1{
    font-size: 20px;
    color: rgb(197, 197, 197);
    text-align: center;
    font-size: 15px;
    margin: 12px;

}



/* Usable Classes */
h1,h2,h3{
    text-align: center;
}
.orange{
    color: orange !important;
}
.bold{
    font-weight: bold;
}
.segoe{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}